{erl_opts, [
  {parse_transform, lager_transform}
]}.
{erlydtl_opts, [
  {compiler_options, []},
  {verbose, true}, return
]}.
{sub_dirs, [
  "apps/*"
]}.
{deps, [
  {lager, ".*", {git, "https://github.com/basho/lager", "master"}},
  {cowboy, ".*", {git, "https://github.com/extend/cowboy.git", "master"}},
  {mimetypes, ".*", {git, "https://github.com/spawngrid/mimetypes", "master"}},
  {erlydtl, ".*", {git, "https://github.com/evanmiller/erlydtl.git", {tag, "0.8.0"}}},
  {erlsom, ".*", {git, "https://github.com/willemdj/erlsom", "master"}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", "master"}}
]}.

