<div class="row">
  <div class="col-md-4">
    <div class="root-media" ng-click="go('/audio')">
      <img src="/browser/img/audio.png"/>
      <h2>Audio</h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="root-media" ng-click="go('/photo')">
      <img src="/browser/img/pictures.png"/>
      <h2>Photo</h2>
    </div>
  </div>
  <div class="col-md-4">
    <div class="root-media" ng-click="go('/video')">
      <img src="/browser/img/movies.png"/>
      <h2>Video</h2>
    </div>
  </div>
</div>
