[
  {eme_config, [
    {port, 9090}, 
    {ip, "0.0.0.0"},
    {services, [rootdevice, mediaserver]},
    {medias, [
      % {video, "/Users/glejeune/Desktop/séries"},
      % {image, "/Users/glejeune/Desktop/img"},
      % {video, "/Users/glejeune/Desktop/films"},
      % {audio, "/Users/glejeune/Desktop/muzic"}
      {video, "/Users/glejeune/Desktop/media/movies"},
      {image, "/Users/glejeune/Desktop/media/photos"},
      {audio, "/Users/glejeune/Desktop/media/zik"}
    ]},
    {scan_interval, 300},
    {tmdb_api_key, "AbCdEfGhIjKlMnOpQrStUvWxYz"},
    {ffprobe_path, "/usr/local/bin/ffprobe"},
    {ffmpeg_path, "/usr/local/bin/ffmpeg"},
    {db_path, "~/.emedia/db"},
    {lang, fr}
  ]},
  {emedia, [
    {port_from, {eme_config, get, [port]}},
    {ip_from, {eme_config, get, [ip]}},
    {max_conn, 100},
    {routes, [
      {"/description", description},
      {"/service/content_directory", service_content_directory},
      {"/service/content_directory/control", service_content_directory_control},
      {"/service/connection_manager", service_connection_manager},
      {"/media", media}
    ]}
  ]},
  {mimetypes, [
    {load_async, true},
    {load_timeout, 10000},
    {load, [
      {default, [
        {<<"mkv">>, <<"video/x-matroska">>}
      ]}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/emedia_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/emedia_console.log"}, {level, info}]}
    ]}
  ]}
].

