[
  {emedia, [
    {port, 9090}, 
    {ip, "0.0.0.0"},
    {max_conn, 100},
    {routes, [
      {"/description", description},
      {"/service/content_directory", service_content_directory},
      {"/service/content_directory/control", service_content_directory_control},
      {"/service/connection_manager", service_connection_manager},
      {"/media", media}
    ]}
  ]},
  {mimetypes, [
    {load_async, true},
    {load_timeout, 10000},
    {load, [
      {default, [
        {<<"mkv">>, <<"video/x-matroska">>}
      ]}
    ]}
  ]},
  {lager, [
    {handlers, [
      {lager_console_backend, info},
      {lager_file_backend, [{file, "log/emedia_error.log"}, {level, error}]},
      {lager_file_backend, [{file, "log/emedia_console.log"}, {level, info}]}
    ]}
  ]}
].

